

.wrapper {
    width: 100%;
    margin: 4rem 0;
    text-align: left;

    
}

.wrapper > div {
    display: flex;
    justify-content: center;
}

.wrapper > div p {
    margin: 2rem 1rem;
    font-size: 1.2rem;
}

.wrapper .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.2rem;
    padding: 4rem;
}

.wrapper img {
    width: 100%;
    
}

.products-img {
    border-radius:5px 10px 15px 20px;
    margin-top: 2rem;
}


@media screen and (max-width:940px) {
    /* .row-product .products-img {
        background-color: aqua;
        display: grid;
        
        
  
        
        

    } */

    .wrapper {
        margin: 3rem 0;
    }

    .wrapper > div p{
        margin: 1rem;
        font-size: 1rem;
    }

    .wrapper > .container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 1rem;
    }


}